.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
    
}
.login-form{
    -webkit-box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.4);
box-shadow: 0px 0px 80px 7px rgba(0,0,0,0.35);
}

.little-text{
    font-size: 0.7rem;
    color: #969696;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}
.little-text h4{
    font-size: 0.7rem;
     color: #969696;
    font-weight: 300;
}
.login-header {
    padding: 30px 12px;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--border);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(135deg, #17203d, #0d142b);
}
.logo{
    padding: 14px;
    border-radius: 5px;
    display: grid;
    place-content: center;
    background-color: var(--primary);
    width: fit-content;
}
h4{
    font-size: 0.8rem;
    color: #969696;
    font-weight: 400;
}
form {
    background-color: var(--bg);
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 380px;
    border-radius: 0px 0px 5px 5px !important;
    border: solid 1px var(--border) !important;
    border-top: none !important;
}
label {
    font-size: 0.7rem;
    font-weight: 300;
    padding-top: 5px;
    text-align: left;
}
.input-container{
    display: flex;
    gap: 10px;
    width: 100%;
    min-width: 300px;
    align-items: center;
    padding: 7px;
    background-color: #11151b;
    border-radius: 5px;
    border: solid 1px var(--border);
}
.login-btn {
    margin-top: 10px;
    background: linear-gradient(to right, #2564db, #123d8b);
    text-align: center;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    transition: ease-in-out .2s;
    border: solid 1px transparent;
}

.login-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.error-message-login {
    color: #ff5252;
    font-size: 0.8rem;
    text-align: center;
    margin: 5px 0;
    position: absolute;
    transform: translateY(1300%);
    transition: ease-in-out .2s;
    cursor: pointer;
    border: solid 1px transparent;
}
.login-btn:hover{
    border: solid 1px snow;
}
form input {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    width: 100%;
    font-weight: 400;
    outline: none;
}